html {
  scroll-behavior: smooth;
  background-color:#020617;
}

html.light {
  background-color: #f8fafc;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  transition: background-color 0.4s ease, color 0.4s ease;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


body.dark {
  background-color: #020617;
  color: #e5e7eb;
}

body.light {
  background-color: #f8fafc;
  color: #020617;
}

body.light .banner {
  background-color: #f8fafc;
}

body.dark .banner {
  background-color: #020617;
}

#about,
#skills{
  scroll-margin-top: 110px;
}

#projects{
  scroll-margin-top: -50px;
}

#contacts{
  scroll-margin-top: -600px;    
}

.reveal {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }

  body {
    overflow-x: hidden;
  }
}
