.about{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
}

.about h1{
  font-size: 2.5rem;
}

.about p {
  max-width: 700px;
  width: 100%;
  padding: 0 1rem;
}

@media (max-width: 768px) {
   .about{
    max-width: 500px;
   }

   .about h1{
    font-size: 2.3rem;
   }
   .about p{
    font-size: 1.1rem;
   }
}


@media (max-width: 520px) {
   .about{
    max-width: 300px;
   }

   .about h1{
    font-size: 2.1rem;
   }
   .about p{
    font-size: 1rem;
   }
}


@media (max-width: 340px) {
   .about{
    max-width: 150px;
    margin-top: 2rem;
   }

   .about h1{
    font-size: 1.8rem;
   }
   .about p{
    font-size: 0.8rem;
   }
}

@media (max-width: 180px) {
   .about{
    max-width: 100px;
    margin-top: 2rem;
   }

   .about h1{
    font-size: 1.8rem;
   }
   .about p{
    font-size: 0.7rem;
   }
}