.about{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
}

.about h1{
  font-size: 2.5rem;
}

.about p {
  max-width: 700px;
  width: 100%;
  padding: 0 1rem;
}

@media (max-width: 954px){
   .about{
      margin-top: 4rem;
      width: 700px;
      margin-right: 1rem;
   }

   .about p{
      max-width: 500px;
   }
}

@media (max-width: 858px){
   .about{
      max-width: 500px;
      margin: 0 auto;
      margin-top: 4rem;
   }
   
}

@media (max-width: 768px) {
   .about{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 3rem;
   }

   .about h1{
    font-size: 2.3rem;
   }
   .about p{
    font-size: 1rem;
   }
}


@media (max-width: 520px) {
   .about{
    max-width: 300px;
   }

   .about h1{
    font-size: 2.1rem;
   }
   .about p{
    font-size: 1rem;
   }
}

@media (max-width:400px){
   .about{
      max-width: 200px;
      margin-top: -1rem;
   }

   .about h1{
      font-size: 1.5rem;
   }

   .about p{
      font-size: 0.9rem;
   }
}

@media (max-width: 340px) {
   .about{
    max-width: 200px;
    margin-top: -0.1rem;
   }

   .about h1{
    font-size: 1.8rem;
   }
   .about p{
    font-size: 0.8rem;
   }
}

@media (max-width: 180px) {
   .about{
    max-width: 100px;
    margin-top: 2rem;
   }

   .about h1{
    font-size: 1.8rem;
   }
   .about p{
    font-size: 0.7rem;
   }
}