.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0f172a;
  z-index: 100;
}

.header-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

/* MENU BUTTON */
.menu-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
  cursor: pointer;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 999px;
}

.menu-button:hover{
  background-color: white;
  color: #0f172a;
}

/* TITLE CENTRALIZADO */
.header-title,.header-title:hover, .header-title:visited, .header-title:active {
  text-align: center;
  color: #e5e7eb;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: inherit; 
}


/* PLACEHOLDER DIREITA */
.theme-placeholder {
  width: 50px;
  height: 32px;
}

/* MENU LATERAL */
.side-menu {
  position: fixed; 
  left: 0;

  width: 220px;
  height: calc(100vh - 64px);

  background-color: #020617;
  padding: 2rem 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  animation: slideIn 0.3s ease;
}




/* DARK MODE */
body.dark .side-menu {
  background-color: #030613;
}

body.dark .side-menu a {
  color: #cbd5f5;
}

body.dark .side-menu a:hover {
  color: #38bdf8;
}

/* LIGHT MODE */
body.light .side-menu {
  background-color: #f1f5f9;
}

body.light .side-menu a {
  color: #020617;
}

body.light .header-title{
  color: white;
}

body.light .side-menu a:hover {
  color: #0284c7;
}


.side-menu a:hover {
  color: #38bdf8;
}

/* ANIMAÇÃO */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* TOGGLE THEME */
.theme-placeholder {
  display: flex;
  align-items: center;
}

.theme-placeholder input {
  display: none;
}

.theme-placeholder label {
  width: 50px;
  height: 24px;
  background: #334155;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.theme-placeholder label::after {
  content: "";
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  background: #e5e7eb;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

/* CHECKED (LIGHT MODE) */
.theme-placeholder input:checked + label {
  background: #e5e7eb;
}

.theme-placeholder input:checked + label::after {
  background: #020617;
  transform: translateX(26px);
}


@media (max-width: 768px) {
  .header-container {
    padding: 0.8rem 1rem;
  }

.side-menu {
  max-width: 12rem;
}


  .header-title {
    font-size: 1.3rem;
    white-space: nowrap;
  }

  .menu-button {
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.4rem;
  }

  .theme-placeholder label {
    width: 42px;
    height: 20px;
  }

  .theme-placeholder label::after {
    width: 16px;
    height: 16px;
  }

  .theme-placeholder input:checked + label::after {
    transform: translateX(22px);
  }

  .side-menu {
    width: 100%;
    height: calc(100vh - 64px);
    padding: 2rem;
  }
}

@media (max-width: 550px) {
  .header-title {
    font-size: 1.2rem;
  }

  .side-menu {
  max-width: 8rem;
}
}

@media (max-width: 480px) {
  .header-title {
    font-size: 1.1rem;
  }

  .menu-button {
    font-size: 1.3rem;
  }
}

@media (max-width: 370px) {
  .header-title {
    font-size: 1rem;
  }

  .menu-button {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 280px) {
  .header-title {
    font-size: 0.9rem;
  }
}

@media (max-width: 240px) {
  .header-title {
    font-size: 0.85rem;
  }

  .side-menu {
  max-width: 4rem;
 }

  .side-menu a{
  font-size: 0.8rem;
  margin-left: -1.5rem;
}

  .menu-button {
    width: 1.8rem;
    height: 1.8rem;
    font-size: 1rem;
  }
}
