.projects{
  width: 100%;
  max-width: 900px;
  padding: 0 1.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5rem;
}

.projectsTitle{
    height: 9rem;
}

.projectsTitle h1{
    font-size: 2.5rem;
}

.projectsItems {
  width: 100%;
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 4rem;

  justify-items: center;
}

@media (max-width: 960px){
.projectsItems {
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
}
.projects{
  max-width: 600px;
}
}


@media (max-width: 768px) {
  .projectsTitle {
    height: 6rem;
  }

  .projectsTitle h1 {
    font-size: 2.1rem;
  }

  .projectsItems {
    gap: 2.5rem;
  }
}

@media (max-width: 600px){
  .projects{
    padding: 0;
    max-width: 400px;
  }
  
  .projectsItems{
    max-width: 400px;
  }
}

@media (max-width: 400px){
  .projectsTitle h1{
    font-size: 2rem;
}
}

@media (max-width: 300px){
    .projectsTitle h1{
    font-size: 1.8rem;
    margin-left: -2rem;
  }
}

@media (max-width: 270px){
    .projectsTitle{
    margin-bottom: -3rem;
  }
    .projectsTitle h1{
    font-size: 1.5rem;
    margin-left: -2rem;
  }
}