.skills{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.skillTitle{
  height: 9rem;
}


.skillTitle h1{
    font-size: 2.5rem;
}

.skillBoxes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem;

  justify-items: center;
}


@media (max-width: 1250px){
  .skillBoxes{
    width: 90%;
    gap: 2rem;
  }
}

@media (max-width: 1024px) {
  .skillBoxes {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .skillBoxes {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 520px){
  .skillTitle h1{
    font-size: 2.1rem;
  }
}

@media (max-width: 350px){
.skillBoxes {

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 4rem;
}
}

@media (max-width: 200px){
    .skillTitle h1{
    font-size: 1.7rem;
  }
}

@media (max-width: 200px){
  .skillTitle h1{
    font-size: 1.4rem;
  }
}